doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Daystar Daycare
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/styles/about.css')
header
  .container
    img.logo(src='images/ab.jpg' alt='Daycare Logo')
    nav
      ul
        li
          a(href='index.html') Home
        li
          a(href='programs.html') Programs
        li
          a(href='contact.html') Contact
        li
          a(href='enroll.html') Enroll Now
        li
          a(href='login_page.html') Administrator
        li
          a(href='about.html') About us
section#banner
  .container
    footer
      .container
        p &copy; 2024 Our Daycare. All rights reserved.
    script.
    script(src='css/bootstrap/js/bootstrap.bundle.js')
