<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title>
<link rel="stylesheet" href="/public/css/styles/admin.css">
</head>
<body>

<div class="topnav">
<a href="admin.html">Admin</a>
<a href="sitters.html">Sitters</a>
<a href="babies.html">Babies</a>
<a href="payments.html">Payments</a>
<a href="procurement.html">Procurement Corner</a>
<a href="login_page.html" style="float: right;">Logout</a>
</div>

<div id="content">
<!-- Content will be loaded dynamically here -->
<h1 style="text-align: center;">WELCOME TO THE ADMIN DASHBOARD</h1>
<h2>Daycare Project Procurement</h2>

<div class="card" id="dollsCard">
<h3>Dolls</h3>
<p id="dollsQuantity">Quantity: </p>
</div>

<div class="card" id="educationalMaterialsCard">
<h3>Educational Materials</h3>
<p id="educationalMaterialsQuantity">Quantity: </p>
</div>

<div class="card" id="cleaningSupplyCard">
<h3>Cleaning Supplies</h3>
<p id="cleaningSupplyQuantity">Quantity: </p>
</div>

<div class="card" id="foodSnacksCard">
<h3>Food and Snacks</h3>
<p id="foodSnacksQuantity">Quantity: </p>
</div>

<div class="card" id="officeSuppliesCard">
<h3>Office Supplies</h3>
<p id="officeSuppliesQuantity">Quantity: </p>
</div>
</div>
</div>

<script src="script.js"></script>
</body>
</html>
