doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login Page
  link(rel='stylesheet' href='/css/styles/login_page.css')
form#loginForm(method='POST' action="login")

  h2 Login
  label(for='username') Username:
  input#username(type='text' required='')
  label(for='password') Password:
  input#password(type='password' required='')
  input(type='submit' value='Login')
  .signup-link
    | Don&apos;t have an account? 
    a#signupLink(href='signup') Sign up
script.
  document.getElementById('loginForm').addEventListener('submit', function(event) {
  event.preventDefault(); // Prevent form submission
  // Get input values
  var username = document.getElementById('username').value;
  var password = document.getElementById('password').value;
  // Check if username and password match
  if (username === "admin" && password === "admin1") {
  // Store user information in local storage
  localStorage.setItem("loggedIn", true);
  localStorage.setItem("username", username);
  // Redirect to admin page
  window.location.href = "admin.html";
  } else {
  alert("Invalid username or password. Please try again.");
  }
  });
