<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Admin Dashboard</title>
<link rel="stylesheet" href="/public/css/styles/procuments.css">
</style>
</head>
<body>
<div class="topnav">
<a href="admin.html">Admin</a>
<a href="sitters.html">Sitters</a>
<a href="babies.html">Babies</a>
<a href="payments.html">Payments</a>
<a href="procurement.html">Procurement Corner</a>
</div>

<div id="content">

<h1>Daycare Project Procurement</h1>

<div class="card" id="dollsCard">
<h2>Dolls</h2>
<p id="dollsQuantity"></p>
</div>

<div class="card" id="educationalMaterialsCard">
<h2>Educational Materials</h2>
<p id="educationalMaterialsQuantity"></p>
</div>

<div class="card" id="cleaningSupplyCard">
<h2>Cleaning Supplies</h2>
<p id="cleaningSupplyQuantity"></p>
</div>

<div class="card" id="foodSnacksCard">
<h2>Food and Snacks</h2>
<p id="foodSnacksQuantity"></p>
</div>

<div class="card" id="officeSuppliesCard">
<h2>Office Supplies</h2>
<p id="officeSuppliesQuantity"></p>
</div>
</div>

</div>

<script src="script.js"></script>
</body>
</html>
