doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Daystar Daycare
  link(rel='stylesheet' href='/css/bootstrap/css/bootstrap.css')
  link(rel='stylesheet' href='/css/styles/programs.css')
header
  .container
    img.logo(src='images/ab.jpg' alt='Daycare Logo')
    nav
      ul
        li
          a(href='index.html') Home
        li
          a(href='programs.html') Programs
        li
          a(href='contact.html') Contact
        li
          a(href='enroll.html') Enroll Now
        li
          a(href='login_page.html') Administrator
section#banner
  .container
    h1 Welcome to Our Daystar Daycare
    p Because We Care
h2 Daycare Programs
.container
  ul#programList
    li Circle Time - 9:00 AM to 9:30 AM
    li Art and Craft - 9:30 AM to 10:30 AM
    li Snack Time - 10:30 AM to 11:00 AM
    li Outdoor Play - 11:00 AM to 12:00 PM
    li Story Time - 12:00 PM to 12:30 PM
    li Lunch Time - 12:30 PM to 1:30 PM
    li Nap Time - 1:30 PM to 3:00 PM
    li Music and Dance - 3:00 PM to 4:00 PM
    li Free Play - 4:00 PM to 5:00 PM
footer
  .container
    p &copy; 2024 Our Daycare. All rights reserved.
script(src='css/bootstrap/js/bootstrap.bundle.js')
